<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Set the environment variable for ASP.NET Core environment -->
    <aspNetCore processPath="dotnet" arguments=".\ToDoListPaczkowski.dll">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <!-- Add any additional environment variables required for development -->
      </environmentVariables>
    </aspNetCore>
  </system.webServer>

  <!-- Optional: Custom error page for better diagnostics in development 
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  -->


  <!-- You can also configure more settings like request limits, caching, etc. depending on your app's requirements -->
</configuration>